PORT=5000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=3306
DB_NAME=enderas
DB_USER=root
DB_PASSWORD=

JWT_SECRET=change-this-in-production
JWT_REFRESH_SECRET=change-this-in-production-too
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

CLIENT_URL=http://localhost:5173
API_BASE_URL=http://localhost:5000/api/v1

UPLOAD_PATH=./src/uploads
MAX_FILE_SIZE=5242880

SUPER_ADMIN_EMAIL=admin@enderas.com
SUPER_ADMIN_PASSWORD=
